<!-- <!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
  <a href="/user/<%= data.id %>/profile"></a>
    <h1>User Profile</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Edit</th>
        </tr>
        
            <tr>
                <td><%= data.id %></td>
                <td><%= data.firstName %> <%= data.lastName %></td>
                <td><%= data.formattedDate %></td>
            </tr>
            <tr><button>Edit</button></tr>
    </table>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<h1>Passenger List <a href="/user/<%= data.id %>/profile" style="color: black; font-size: medium;">Update Profile</a></h1>
<h2 style="text-align: center;">Update Profile</h2>
<div class="container mt-4">
    <form action="/user/<%= data.id %>/profile/edit" method="post">
        <div class="row">
          <div class="col-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" placeholder="" value="<%= data.firstName  %>">
          </div>
          <div class="col-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" placeholder="" value="<%= data.lastName  %>"> 
        </div>
        <div>
            <label for="dateOfBirth">Date Of Birth</label>
            <input type="date" class="form-control" name="dateOfBirth" value="<%= data.dateOfBirth %>">
        </div>
        <div>
            <label for="username">Username</label>
            <input type="date" class="form-control" name="username" value="<%= data.username %>">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="date" class="form-control" name="password" value="<%= data.password %>">
        </div>
        <div>
            <a href="/user/<%= data.id %>/profile">
                <button class="btn btn-primary" style="margin-top: 10px;">Update Profile</button>
            </a>
        </div>
    </form>
</div>
<body>
